:root {
    --primary: #edca0d;
    --secondary: #000000;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(./assets/wallpaper.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--primary);
    background-color: var(--secondary);
}

header {
    padding: 30px;
    text-align: center;
}

input {
    border: 2px solid #edca0d;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.search img {
    width: 20px;
    height: 20px;
}


.heart {
    display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.heart img {
      height: 150px;
}


.bestiary {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    position: absolute;
}

.bestiary img {
    box-shadow: 2px 2px 3px 0 rgb(73, 39, 77), 4px 4px 9px 0 rgb(247, 223, 127);
    border-radius: 20px;
    border: 2px solid #faf8f8;
}
